<html ng-app="loja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h1>Itens Carrinho</h1>
 

<label>Pesquisar Cliente <input class="form-control" type="text" ng-model="filtroCliente"></label>
 <button type="button" class="btn btn-info btn-fill btn-wd" ng-click="buscarClienteNome();">Buscar</button>
 <table class="table table-hover">
  <tr ng-repeat="cliente in clientesPesquisa">
  	<td>{{cliente.id}}</td>
  	<td>{{cliente.nome}}</td>
  	<td>
  	 <a href ng-click="adicionarClienteCarrinho(cliente);">Adicionar
					 <img alt="Adicionar Cliente" title="Adicionar Cliente" 
					 src="resources/img/add-icon.png" border="0">
					</a>
		</td>
  </tr>
 </table>
<br/>
<label>Cliente</label>
<input class="form-control" style="max-width: 100px;" ng-model="clientesPesquisa.cliente.id" value="{{clientesPesquisa.cliente.id}}" readonly="readonly" type="text" id="idCliente"/>
<br>
<input class="form-control" readonly="readonly" ng-model="clientesPesquisa.cliente.nome" value="{{clientesPesquisa.cliente.nome}}" type="text" id="nomeCliente"/>
<br>
<br/>


<label>Pesquisar Vendedor <input class="form-control" type="text" ng-model="filtroVendedor"></label>
 <button type="button" class="btn btn-info btn-fill btn-wd" ng-click="buscarVendedorNome();">Buscar</button>
 <table class="table table-hover">
  <tr ng-repeat="vendedor in vendedoresPesquisa">
  	<td>{{vendedor.id}}</td>
  	<td>{{vendedor.nome}}</td>
  	<td>
  	 <a href ng-click="adicionarVendedorCarrinho(vendedor);">Adicionar
					 <img alt="Adicionar Vendedor" title="Adicionar Vendedor" 
					 src="resources/img/add-icon.png" border="0">
					</a>
		</td>
  </tr>
 </table>
<br/>
<label>Vendedor</label>
<input class="form-control" style="max-width: 100px;" ng-model="vendedoresPesquisa.vendedor.id" value="{{vendedoresPesquisa.vendedor.id}}" readonly="readonly" type="text" id="idVendedor"/>
<br>
<input class="form-control" readonly="readonly" ng-model="vendedoresPesquisa.vendedor.nome" value="{{vendedoresPesquisa.vendedor.nome}}" type="text" id="nomeVendedor"/>
<br>
<br/>


<label>Filtrar Produto<input class="form-control" type="text" ng-model="filtro"></label>
<br>
<br/>

<div ng-controller="lojaController">

	<div class="content table-responsive table-full-width">
		<table class="table table-hover">
			<thead>
				<th>ID</th>
				<th>Imagem</th>
				<th>Modelo</th>
				<th>Quantidade</th>
				<th>Valor</th>
				<th>Excluir</th>
			</thead>
			<tbody>
				<tr ng-repeat="item in itensCarrinho | filter:filtro"> 
					<td>{{item.produto.id}}</td>
					<td><img src="{{item.produto.foto}}" style="width: 80px; height: 100px"/></td>
					<td>{{item.produto.modelo}}</td>
					<td> <input type="number" value="{{item.quantidade}}" ng-change="recalculo(item.quantidade, item.produto.id);" ng-model="item.quantidade"/></td>
					<td>{{item.produto.valor}}</td>
					<td> <a href ng-click="removerProdutoCarrinho(item.produto.id);">Excluir
					 <img alt="Remover" src="resources/img/delete-icon.png" border="0">
					</a></td>
				</tr>
			</tbody>
		</table>
		<h1>TOTAL: {{pedidoObjeto.valorTotal}}</h1>
		
		<a href ng-click="finalizarPedido();">
		 <img alt="Finalizar" border="0"
		  src="resources/img/finalizar-pedido.png"
		   title="Finalizar Pedido">
		</a>
	
	</div>
</div>
</html>
