<html ng-app="loja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h1>Lista de Produtos</h1>


<a href="#produto/cadastro">Novo
<img alt="Novo" src="resources/img/add-icon.png" border="0">
</a>

<br/>
<br/>
<label>Filtro <input class="form-control" type="text" ng-model="filtro"></label><br>
<br/>

<div ng-controller="produtoController" ng-init="listarProdutos(1)">

	<div class="content table-responsive table-full-width">
		<table class="table table-hover">
			<thead>
				<th>ID</th>
				<th>Imagem</th>
				<th>Modelo</th>
				<th>Valor</th>
				<th>Excluir</th>
				<th>Editar</th>
			</thead>
			<tbody>
				<tr ng-repeat="produto in data | filter:filtro"> 
					<td>{{produto.id}}</td>
					<td><img src="{{produto.foto}}" style="width: 40px; height: 43px"/></td>
					<td>{{produto.modelo}}</td>
					<td>{{produto.valor}}</td>
					<td> <a href ng-click="removerProduto(produto.id);">Excluir
					 <img alt="Excluir" src="resources/img/delete-icon.png" border="0">
					</a></td>
					<td> <a href ng-click="editarProduto(produto.id);">Editar
					 <img alt="Editar" src="resources/img/edit-icon.png" border="0">
					</a></td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
		   <button type="button" class="btn btn-info btn-fill btn-wd" ng-click="anterior();">Anterior</button>
		   <button type="button" class="btn btn-info btn-fill btn-wd" ng-click="proximo();">Próximo</button>
		</div>   
	</div>

</div>
</html>
